@import "tailwindcss";

.input {
  @apply w-full rounded-lg border border-gray-600 px-4 py-2.5
  focus:ring-2 focus:ring-green-400 focus:outline-none;
}

.label {
  @apply block text-2xl font-bold text-gray-700 mb-2;
}
